/********************
* * * * DOCS * * * *
*********************/
body {
  font-family: monospace;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 50px;
  background: #112;
  color: #eee; }

.ngrid {
  height: calc(100vh - 100px);
  background: #223; }

.ngrid-inner {
  height: calc(100vh - 100px - 40px); }

.ngrid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  overflow: hidden;
  background: #111;
  color: #fff; }

.ngrid-row.even {
  background: #334; }

.ngrid-cell {
  text-align: center;
  line-height: 30px;
  font-size: 9px;
  border-right: 1px solid #112;
  border-bottom: 1px solid #112; }
  .ngrid-cell.even {
    background: #334; }

::-webkit-scrollbar {
  border-radius: 0;
  width: 0;
  height: 0;
  background-color: transarent; }

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transarent;
  -webkit-box-shadow: none; }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #88e; }

::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 0;
  background: #88e; }

.ngrid-header {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: move;
  color: color("foreground");
  text-align: center;
  font-size: 9px;
  font-weight: 600; }
  .ngrid-header > .ngrid-months,
  .ngrid-header > .ngrid-weeks,
  .ngrid-header > .ngrid-days {
    width: 100%;
    display: block; }
  .ngrid-header .day, .ngrid-header .dayName {
    display: block; }

.ngrid-table {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }
  .horizontal > .ngrid-table {
    overflow-x: auto; }
  .vertical > .ngrid-table {
    overflow-y: auto; }

.ngrid-table > .ngrid-inner {
  width: 100%;
  display: block;
  position: absolute;
  top: 0; }

.ngrid-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

.ngrid-row {
  width: 100%; }
  .ngrid-row.even {
    background: #334; }

.ngrid-cell, .ngrid-day, .ngrid-week, .ngrid-month {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding: 0; }

.ngrid-week, .ngrid-month {
  text-align: left;
  text-transform: uppercase;
  line-height: 25px;
  padding: 0 5px;
  font-weight: 900; }

.ngrid-month {
  font-size: 11px; }

.ngrid-day {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
  line-height: 15px; }

.ngrid-cell {
  padding: 5px;
  /*
    &.even {
        background: $even;
    }
    */ }

.ngrid-cell + .ngrid-cell,
.ngrid-day + .ngrid-day,
.ngrid-week + .ngrid-week,
.ngrid-month + .ngrid-month {
  border-left: 1px solid #eee; }

.ngrid-day {
  border-bottom: 1px solid #eee; }
  .ngrid-day.weekend {
    background: #f0f0f0; }
